body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

#tabs{
    background-color: #f9f9f9;
    margin:20px;
    padding:10px;
}
#tabs a{
    margin-right: 20px;
}

#header1 {
    background-color: #ffcccb;
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.monthSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#month {
    font-size: 1.5em;
    margin-right: 20px;
}

#monthPicker {
    font-size: 1em;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

table {
    width: 96%;
    margin: 0 auto 20px;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #e0f7fa;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

#newExpense, #logoutButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#newExpense:hover {
    background-color: #82dde4;
}

#logoutButton:hover {
    background-color: #ff6f61;
}

.totals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.totalIncome, .totalExpense, .difference {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#H1totalIncome {
    background-color: #b2fab4;
}

#H1totalExpense {
    background-color: #ffcdd2;
}

#H1difference {
    background-color: #b3e5fc;
}


.description{
    width: 90%;
}