#header1{
    background-color: rgb(153, 245, 153);
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
}
header{
    background-color: blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); ;
    padding-top: 40px;
    
}

.data{
    display:none;
}

.g-signin2{
    position: absolute;
    top: 50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}
table{
    width: 96%;
    margin-left: 10px;
    border-collapse: collapse;
    padding-top: 20px;
    
}
table, tr, td{
    border: 1px solid black;
    
     
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*this is to have the width set for the cols of the editable elements*/
#startD{
    width:60%;
}
#startDa{
    width:15%;
}
#startA{
    width:15%
}
#startS{
    width:5%;
}
#startDel{
    width:min-content;
}
.description, .date, .amount1{
    width: 100%;
}




/*normal state*/
input {
    border: none;
    outline: none; 
}

/* Remove border in focus state */
input:focus {
    border: none;
    outline: none; /* Optional: remove outline */
}
input:hover{
    border: 1px solid black;
}

th,td{
    padding: 15px;
}
input.text{
    max-width: 60%; /* Example value, adjust as needed */
    overflow-wrap: break-word; /* Ensure long words break and wrap */
    word-wrap: break-word; /* Older property for compatibility */
    white-space: normal; /* Ensure text wraps correctly */
}

#descriptionE{
    background: transparent;
    bordeR: none;
    outline: none;
    box-shadow: none;
    resize: none; /* Prevents resizing of the textarea */
    overflow: hidden; /* Hides scrollbar */

}
#newExpense{
    padding: 8px;
    margin: 20px;
    cursor: pointer;
}
#newExpense:hover{
    background-color: gray;
}

#amountI{
    background-color: transparent;
    background: transparent;
    bordeR: none;
    outline: none;
    color: transparent;
    box-shadow: none;
}

.delete{ 
    border-radius: 5px;
    
}
.delete:hover{
    background-color: gray;
}

.totals{
    display: inline-block
}
#H1totalIncome, #H1totalExpense, #H1difference {
    position: relative;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    display: inline-block; /*makes border aroundrtext*/
}